.dropload-up,.dropload-down{
    line-height:1.8rem;
    font-weight:bold;
    font-size:.7rem;
    color:#888;
    background-color:#f5f5f5;
}
.dropload-down{
    height: 1.8rem;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: center;
}
.dropload-load{
	text-align: center;
}
.dropload-load .loadingIcon,.dropload-update .loadingIcon, .dropload-refresh .loadingIcon{
    background:url(assets/loading-A-fu1.gif) 0 0rem no-repeat;
	background-size: 1.8rem 1.8rem;
	width:1.8rem;
	height:1.8rem;
	display:inline-block;
	vertical-align:top
} 