.ui-radio{

}

.ui-radio .r{
  position: relative;
  background: url(assets/ui-radio-default.png) no-repeat 0 50%;
  background-size: 1rem;
  padding-left: 1.5rem;
}
.ui-radio .r.on {
  background: url(assets/ui-radio-on.png) no-repeat  0 50%;
  background-size: 1rem;
}

.ui-radio .r input[type="radio"] {
  opacity: 0;
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

