/**
 * Created by lee on 16-3-11.
 */



.wrapper{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0rem;
    bottom: 0rem;
    right: 0;
    z-index: 1;
    overflow: hidden;
}
.wrapper .scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}


/**
 *
 * Pull down styles
 *
 */
.pullDown, .pullUp {
    height:1.8rem;
    line-height:1.8rem;
    padding:.25rem .5rem;
    border-bottom:.05rem solid #ccc;
    font-weight:bold;
    font-size:.7rem;
    color:#888;
    background-color:#f5f5f5;
    /*padding-left: 50%;*/
}

.pullUp{
    border-bottom: none;
}

.pull-box{
    /*float: left;
    margin-left: -25%;*/
    text-align: center;
}
.pullDown .pullDownIcon, .pullUp .pullUpIcon  {
	background:url(assets/loading-A-fu1.gif) 0 0rem no-repeat;
	background-size: 1.8rem 1.8rem;
	width:1.8rem;
	height:1.8rem;
	display:inline-block;
}
/*
.pullDown .pullDownIcon, .pullUp .pullUpIcon  {
    
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
}
.pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

.pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

.pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}*/
/*
.pullDown.loading1 .pullDownIcon, .pullUp.loading1 .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
    background:url(assets/icon-loading.gif) no-repeat;
    background-position: 50% 50%;
    background-size: 1rem 1rem;
}*/