/** 处理ios下点击事件失效的bug */
head {
	cursor: pointer;
}

.page-body {
  background: #F7F7F7;
}

.commentdiv{
	margin-bottom:2.5rem;
}
.comment {
	overflow:hidden;
	padding-top:0.9rem;
  padding-bottom:0.9rem;
  padding-left:0.75rem;
  padding-right:0.75rem;
	font-size:0.7rem;
	color:#333333;
	position: relative;

  /*border-bottom:1px solid #ddd;*/
}
.comment .userphoto{
	float:left;
	width:1.2rem;
  border: 1px #ddd solid;
  border-radius: 50%;
}
.comment .userphoto img{
	width:100%;
	vertical-align:middle;
	border-radius:100%;
}
.comment .commentinfo {
	float:left;
	width:88%;
	padding-left:0.45rem;
	line-height:.7rem;
	box-sizing: border-box;
}
.comment .commentinfo .name,.other-list .name{
	color:#999999;
}
.other-list .name .reply {
  color:#333333;
}

.comment .commentinfo .name{
	/*padding: 0.2rem 0;*/
}
.comment .other-list li:first-child {
  margin-top: 0;
}
.comment .other-list li{
  margin-top: .55rem;
}

.comment .other-list .name .bf{
	color:#999999;
}
.comment .other-list .name .af{
	color:#999999;
}
.comment .commentinfo .time2,.comment .other-list .time{
	color:#999999;
  font-size: .6rem;
  line-height:.6rem;
}
.comment .commentinfo .time2{
  padding-top: 0.2rem;
	/*padding-bottom: 0.2rem;*/
}
.comment .zanbtn{
/*	float:left;*/
	/*width:18%;*/
	position: absolute;
	right: 0;
}
.comment .zanbtn .fav{
    display: block;
    right: 0rem;
    top: 1rem;
/*    width:1.6rem;*/
    height: 1.5rem;
    line-height: 1.5rem;
    overflow: hidden;
    font-size: 0.6rem;
    padding-left:1.73rem;
}
.comment .zanbtn .meizan{
	background: url("assets/buzan.png") 0 50% no-repeat;
	background-size:1rem 1rem
}
.comment .zanbtn .zan{
	background: url("assets/zan.png") 0 50% no-repeat;
	background-size:1rem 1rem
}
.comment a.anchor {
    color: #78B6F5;
}
.clear {
  clear: both;
}
.comment .other-list{
	/*width:88%;
	float:right;*/
	line-height:.9rem;
	background-color:#f9f9f9;
  margin-top: .7rem;

/*	border:1px solid #ddd;*/
	padding: .45rem .6rem;
}

.load-more-pub{
	/*border-bottom:1px solid #ddd;*/
	text-align:center;
	height:2rem;
	line-height:2rem;
	font-size: .6rem;
  color:#4a90e2;
  cursor: pointer;
	/*color:#f78700;*/
}
.not-more{
	color:#666;
}
.load-all-replay{
	/*height:1.5rem;
	line-height:1.5rem;*/
	font-size: .6rem;
	color: #4a90e2;
  margin-top: .6rem;
	cursor: pointer;
}

.actionbtn{
	display: block;
    right: 0rem;
    top: 1rem;
  /*  width:1.2rem;*/
    height: 1.2rem;
    line-height: 1.5rem;
    overflow: hidden;
    font-size: 0.6rem;
    padding-left:1.73rem;
    background: url("assets/action.png") 0.6rem 0.2rem no-repeat;
}

.commentContent{
	width: 100%;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	/*padding: 0.2rem 0;*/
  padding-top: .5rem;
  line-height: 1.05rem;
}
.subactionbtn {
	cursor: pointer;
}
.zanCommentBtn {
	cursor: pointer;
}
#commentNum {
	padding-left: 0.2rem;
}