
.toast {
  bottom: 50%;
  width: 100%;
  /*height: 25%;*/
  z-index: 9999;
  position: fixed;
  text-align: center;
  padding-left: .75rem;
  padding-right: .75rem;
  box-sizing: border-box;

}

.toast .toast-content {
  border: .05rem solid #ddd;
  -moz-border-radius: 4px;      /* Gecko browsers */
  -webkit-border-radius: 4px;   /* Webkit browsers */
  border-radius:4px;
  background-color: rgba(0, 0, 0, 0.7);
  overFlow-x: hidden;
  word-break: break-all;
  display: block;
  float: left;
  text-align: left;
  padding: .75rem;
    color: #FFF;
    font-size: .8rem;
}