
.pub{
    padding: .75rem .75rem .75rem .75rem;
    background: #FFF;
}
.pub:last-child{
    padding: .75rem;
    margin-left: 0rem;
}

.pub .pub-title{
    font-size: .9rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin: .5rem 0 .3rem 0;
    overflow: hidden;
    font-weight: bold;
    color: #333;
}

.pub .pub-body{
    font-size: .7rem;
    max-height: 2rem;
    line-height: 1rem;
    overflow: hidden;
	color:#666;
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.pub .pub-wd{
    position: relative;
    background: #FFF;
}

.pub .pub-wd .photo{
    display: block;
    position: absolute;
    left: 0;
    top: 0rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background: #FFF;
    border: 1px rgba(0,0,0,0) solid;
}

.pub .pub-wd .photo img{
    width: 100%;
    height: auto;
    vertical-align: top;
}

.pub .pub-wd .info{
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: static;
    height: 1rem;
    padding: 0 0 0 1.5rem;
    overflow: hidden;
}

.pub-wd .info .name {
    height: 1rem;
    line-height: 1rem;
    font-size: .6rem;
    color: #666;
}

.pub-wd .info .name .com-name{
    padding-left: 1rem;
    color: #2f7eea;
}

.pub-content{
	overflow:hidden;
    max-height:4.3rem;
}

.text-div{
    width:100%;
    padding-right: 5.25rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pic-div{
	float:right;
    margin-top:1rem;
    width:4.5rem;
    height: 3rem;
    overflow: hidden;
    position: relative;
}

.pic-div-p .pub-pic{
	width:100%;
}

.pic-div .playIcon{
    position: absolute;
    left: 50%;
    margin-left: -1rem;
    top: 50%;
    margin-top: -0.9rem;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    width: 2rem;
    height: 2rem;
}
.sound{
	display:block;
	height:1.8rem;
    overflow: hidden;
    background-image: url("assets/sound-play.png");
    background-repeat: no-repeat;
    background-size: auto 1.8rem;
}

.soundon{
	position:absolute;
	display:block;
	width:1.2rem;
	height:1.5rem;
	background:url("assets/laba.gif") no-repeat -0.7rem -0.3rem;
}

.pub-bottom{
    margin-top: .7rem;
}

.pub-date{
    float: left;
    font-size: .6rem;
    color: #888;
    height: 1rem;
    line-height: 1rem;
}

.pub-view{
    float: right;
    padding-left: 1rem;
    font-size: .6rem;
    color: #888;
    height: 1rem;
    line-height: 1rem;
    background: url("assets/view-icon.png") 0 50% no-repeat;
    background-size:auto 0.8rem;
    margin-right: 1rem;
}

.pub .pub-bottom .fav{
    float: right;
    display: block;
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    font-size: 0.6rem;
    padding-left:1rem;
    color: #888;
}
.pub .pub-bottom .meizan{
    background: url("assets/buzan.png") 0 50% no-repeat;
    background-size:auto .8rem;
}
.pub .pub-bottom .zan{
    background: url("assets/zan.png") 0 50% no-repeat;
    background-size:auto .8rem;
}