
.tab-menu {
  overflow: hidden;
}

.tab-menu .menu {
  float: left;
}

.tab-menu .menu a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 200%;
  text-align: center;
  font-size: 0.8rem;
  color: #aaaaaa;
  background: #666;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tab-menu .menu.on a {
  color: #000;
  background: #FFF;
}

.tab-panel{
  display: none;
}

.tab-panel.hide{

}

.tab-content{
    position: relative;
}

.tab-content .tab-panel{
    display: block;
    position: absolute;
    z-index: -1;
}