
.loading-bg{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../assets/loadding.gif) no-repeat;
  opacity: 0.2;
  z-index:9010;
  background-position:center;
/*  background-size: auto 100%;*/
  background-color: rgb(49, 45, 45);
}