
.page.on-comment-editing {
	background-color : rgb(246, 246, 247);
}

/*.page.on-comment-editing > header .title {
	font-size : 0.8rem;
}

.page.on-comment-editing > header .right {
	width: 3.2rem;
}*/

/** 处理ios下点击事件失效的bug */
.page head .title {
	cursor: pointer;
}


.page-body {
	bottom: 2.65rem;
}

/*关于评论内容*/
.commentFoot {
	background: #F9F9F9;
	border-top: 1px solid #ddd;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 0.5rem .75rem;
	font-size: 0.8rem;
	height: 1.8rem;
	cursor: pointer;
}

.commentFoot.active {
	background-color:rgb(246, 246, 247);
	height:10rem;
	bottom:initial;
	top:2.2rem;
	padding:0;
}

.commentFoot .l {
	float: left;
}
.commentFoot .r {
	float: right;
	padding-left: .75rem;
}
.commentFoot .r a {
	color: #d20028;
	/*margin: 0 0.25rem;
	margin-top: 0.1rem;
	display: block;
	text-align: left;*/
}
.commentFoot .r .z{
	margin-left: 0.3rem;
	vertical-align: middle;
}

.commentFoot .r a img {
	width: 1.5rem;
	vertical-align: middle;
}


.commentFoot .l .text{
	width: 92%;
	border-radius: 1rem;
	padding-left: 1.5rem;
	padding-right: 1rem;
	border: 1px solid #ddd;
	line-height: 1.5rem;
	height: 1.5rem;
	color: #777;
	font-size: 0.7rem;
	background-image: url("assets/pen.png");
	background-repeat: no-repeat;
	background-position: 0.5rem;
	background-size: 0.75rem 0.75rem;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.commentFoot .r .send{
	display: none;
	line-height: 4rem;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	background-color: white;
}

.commentFoot .open {
	width: 100%;
	height: 8rem;
	margin: 0px;
	display: none;
}
.commentFoot .open .text {
	width: 100%;
	padding:0.5rem;
	border: 1px solid #ddd;
	height: 8rem;
	border-radius: 0;
/*	line-height: 1rem;*/
	color: #777;
	font-size: 0.7rem;
	box-sizing: border-box;

}


header .backComment {
	z-index: 8001;
	position: absolute;
	top: 0;
	left: 0rem;
	height: 2.2rem;
	line-height: 2.2rem;
	width: 3.2rem;
/*	background: url("assets/leftback.png") no-repeat;
	background-size: 1.06rem 1.06rem;
	background-position: .57rem 0.57rem ;*/
	overflow: hidden;
	color: white;
	font-weight: bold;
	font-size: 0.8rem;
text-align: center;
}
.commentFoot .protocol {
	height: 2rem;
	clear: both;
	padding-top: 0.5rem;
	text-align: left;
	padding: 0.5rem 0.5rem;
	box-sizing: border-box;
}
.commentFoot .protocol .proin {
	height: 100%;
/*	line-height: 1rem;*/
	color: #A9A9A9;
	font-size: 0.6rem;
	letter-spacing: 0.1rem;
}
.commentFoot .protocol .proin span{
	height: 100%;
	display: inline-block;
}

.commentFoot .protocol a {
	display: inline;
	color: #2196F3;
}
.page > header .right .send {
	display: block;
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
}

.page header .title {
	margin-top:0;
}

.page header.initRed {
	background-color: #BE002E;
}

/******************************************************/
/** 打开编辑器以后的样式 */
/******************************************************/

